[user]
	email = KatoYuta@next-group.jp
	name = katoyut

[alias]
    st = status
    co = checkout
    br = branch
    graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"

[color]
	ui = true
